:root {
  --primary-bg-color: white;
  --secondary-color: #1a1a1a;
}

body {
  background-color: var(--primary-bg-color);
  color: white;
}

nav-link {
  color: red;
}

p {
  color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
}

header {
    background-color: var(--secondary-color);
    color: white;
    height: 60px;
    text-align: center;
    font-size: 42px;
}
